.header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border: 1px solid black;
}

.navitems > ul{
    display: flex;
    list-style: none;
}

.navitems > ul > li{
    padding: 30px;
}

.logo{
    width: 100px;
    margin: 5px;
}

.card > img{
    width: 100%;
}

.card{
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}

.resturent-list{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 20px;
    padding: 10px;
    background-color: yellowgreen;
    cursor: pointer;
}

.filter-btn:hover{
    background-color: brown;
    color: white;
}

.shimmerContainer{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.fake-card{
    width: 200px;
    height: 450px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}

.login{
    padding: 0  15px;
    margin-right: 10px;
}

.filter{
    display: flex;
}

.search-btn{
    margin-left: 200px;
    margin-top: 20px;
    padding: 10px;
    width: 400px;
}

.search{
    margin-left: 10px;
    padding: 10px;
}