.header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid black;
    background-color: yellow;
}

.navitems > ul{
    display: flex;
    list-style: none;
}

.navitems > ul > li{
    padding: 10px;
}

.logo{
    width: 100px;
}

.card > img{
    width: 100%;
}

.card{
    width: 204px;
    border: 1px solid black;
    padding: 5px;
    margin: 20px;
    background-color: lightgray;
}

.resturent-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 20px;
    padding: 10px;
    background-color: yellowgreen;
    cursor: pointer;
}

.filter-btn:hover{
    background-color: brown;
    color: white;
}